@use 'config/reset.scss';
@use 'config/variaveis.scss';

@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
}

.display-block {
    display: block;
}

.hidden {
    display: none;
}
  
.visible {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    input {
      margin-left: 10px;
      padding: 5px;
      width: 100%;
      max-width: 300px;
    }
}

.error{
    color: red;
    background-color: red;
}

section{
    height: 100vh;
    @include display();
    background-image: url('../imagens/Imagem\ Marina.jpg');
    background-size: cover;
    background-position: center;
    div.container{
        height: 65vh;
        width: 100%;
        background-color: variaveis.$cor3;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        div:nth-of-type(1){
            height: max-content;
            @include display();
            width: 100%;
            img{
                height: 500px;
                width: 500px;
            }
        }
        div:nth-of-type(2){
            @include display();
            button{
                height: 40px;
                width: 250px;
                background-color: variaveis.$cor4;
                color: variaveis.$cor1;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    border: 3px solid variaveis.$cor2;
                }
            }
        }
    }

    form{
        height: max-content;
        width: 50vw;
        display: none;
        background-color: variaveis.$cor3;
        font-size: 1.2rem;
        header{
            height: 50px;
            width: 100%;
            background-color: variaveis.$cor4;
        }

        div.pessoal{
            @include display();
            flex-direction: column;
            div{
                width: 100%;
                @include display();
                flex-direction: column;
                input{
                    width: 75%;
                    padding: 2px 10px;
                }
                label{
                    cursor: pointer;
                }
            }

            div.city{
                width: 100%;
                @include display();
                flex-direction: row;
                div{
                    height: max-content;
                    width: 50%;
                    input{
                        width: 50%;
                        padding: 2px 10px;
                    }
                    label{
                        cursor: pointer;
                    }
                }
            }
        }

        div.barco{
            @include display();
            flex-direction: column;
            div{
                width: 100%;
                @include display();
                flex-direction: column;
                input{
                    width: 75%;
                    padding: 2px 10px;
                }
                label{
                    cursor: pointer
                } 
            }

            div.boat-type{
                p{
                    cursor: default;
                }
                div{
                    @include display();
                    flex-direction: row;
                    div{
                        input{
                            width: max-content;
                            margin: 0 10px;
                            cursor: pointer;
                        }
                        label{
                            cursor: pointer;
                        }
                    }
                }
            }

            div.option {
                @include display();
                flex-direction: column;
                p{
                    cursor: default;
                    text-align: center;
                }
                div {
                    @include display();
                    flex-direction: row;
                    gap: 20px;
              
                  div {
                        input {
                            width: max-content;
                            margin: 0 10px;
                            cursor: pointer;
                        }
                        label{
                            cursor: pointer;
                        }
                    }
                }
            }
            
            div.option-questions {
                display: none;
            }
        }

        div.form-btn{
            width: 100%;
            @include display();
        
            button{
                width: 25%;
            }
        }
    }   
}

@media screen and (max-width: 431px) {
    section {
      flex-direction: column;
      padding: 10px;
  
      div.container {
        height: auto;
        padding: 15px;
  
        div:nth-of-type(1) {
            margin: 10px !important;
          img {
            width: 90%;
            height: auto !important;
          }
        }
  
        div:nth-of-type(2) {
            margin-bottom: 20px;
          button {
            width: 50%;
            font-size: 1rem;
          }
        }
      }
  
      form {
        width: 100%;
        font-size: 1rem;
        padding: 15px;
  
        div.pessoal,
        div.barco {
          gap: 10px;
  
          div {
            input {
              width: 90%;
            }
          }
  
          div.city {
            flex-direction: column;
  
            div {
              width: 100%;
  
              input {
                width: 90%;
              }
            }
          }

          div.boat-type{
            div{
                div{
                    input {
                        margin: 0 0 0 10px !important;
                    }
                }
            }
          }
  
          div.boat-type > div,
          div.option > div {
            gap: 10px;
  
            div {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
  
              input {
                margin: 0 5px 0 0;
              }
            }
          }
        }

        div.option{
            text-align: center;
        }
  
        div.form-btn {
          button {
            width: 50%;
            padding: 10px;
            font-size: 1rem;
          }
        }
      }
    }
  }
  