@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// fonts
$fonte-principal: 'Roboto', sans-serif;

//cores
$cor1: #fff;
$cor2: #000;
$cor3: rgb(246, 246, 246);
$cor4: rgb(238, 128, 33);